.flex-all-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn
{
    margin: 0px 20px;
    padding: 5px 1px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}
.my-1
{
    margin: 2px 0;
}
.my-2
{
    margin: 26px 0;
}
.text-center
{
    text-align: center;
}